*.vscode*
*.vscode/*
*ssid*
sim_ws/build/*
sim_ws/install/*
sim_ws/log/*
from_tony_zhao/**
tony_zhao_forked/aloha/**
tony_zhao_forked/*/.git
xarm_gui/**
episodes/**
contol_ws/build/**
contol_ws/log/**
contol_ws/install/**
*__pycache__*
*/__pycache__/**
ckpt_dir/**
ckpt_dir*/**
ckpt_dir*
instructables*
sim_ws*
read_controller*
tmp*
*tmp*


